<mat-sidenav-container class="layout-container">
  <mat-sidenav
    class="sidebar"
    mode="side"
    opened
  >
    <div class="brand">
      <mat-icon>view_kanban</mat-icon>

      <span>TaskFlow</span>
    </div>

    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/dashboard"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>

      <a
        mat-list-item
        routerLink="/workspaces"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon>workspaces</mat-icon>
        <span matListItemTitle>Workspaces</span>
      </a>

      <a
        mat-list-item
        routerLink="/boards"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon>view_kanban</mat-icon>
        <span matListItemTitle>Quadros</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <span>TaskFlow</span>
    </mat-toolbar>

    <main class="content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
