@model TaskFlow.Web.ViewModels.Boards.Create.CreateBoardViewModel

@{
    ViewData["Title"] = "Novo quadro";
}

<h1>Novo quadro</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <input asp-for="WorkspaceId" type="hidden" />

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nome</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Descrição</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Salvar
    </button>
    <a asp-action="Index" asp-route-workspaceId="@Model.WorkspaceId" class="btn btn-secondary">
        Cancelar
    </a>
</form>